<a href="https://colab.research.google.com/github/Tanuja2725/classification/blob/main/pandas_practicemy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

panda

In [ ]:
import numpy as np

In [ ]:
1# 1.0 call libraries  
import numpy as np
import pandas as pd
import os
import numpy as np

In [ ]:
 pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
pd.Series([3,8,1,90,23])

0     3
1     8
2     1
3    90
4    23
dtype: int64

In [ ]:
pd.Series([2.3,4.5,6.7,3.1])

0    2.3
1    4.5
2    6.7
3    3.1
dtype: float64

In [ ]:
r=pd.Series(['a','b','c','d','e'])

In [ ]:
r.iloc[2:-1]

2    c
3    d
4    e
5    f
dtype: object

In [ ]:
r[0]

'a'

In [ ]:
r.iloc[-1]

'g'

In [ ]:
r[:3]

0    a
1    b
2    c
dtype: object

In [ ]:
r[2:]

2    c
3    d
4    e
dtype: object

In [ ]:
r[2:-2]

2    c
dtype: object

In [ ]:
r[2:-1]

2    c
3    d
dtype: object

In [ ]:
r[1,3]

KeyError: ignored

In [ ]:
r[[1,3]]

1    b
3    d
dtype: object

In [ ]:
r=pd.Series(['a','b','c','d','e','f','g'])

In [ ]:
len(r)

7

In [ ]:
r[1,3:5]

KeyError: ignored

In [ ]:
r[1,3,4,5]

KeyError: ignored

In [ ]:
r[-1]

KeyError: ignored

In [ ]:
s= pd.Series(['a','b','c','d','e','f','g'],index=[12,89,3,45,-1,90,800])

In [ ]:
s.loc[[89,45,90]]

89    b
45    d
90    f
dtype: object

In [ ]:
s.iloc[[1,2,3]]

89    b
3     c
45    d
dtype: object

In [ ]:
s.iloc[-1]

'g'

In [ ]:
s

 12     a
 89     b
 3      c
 45     d
-1      e
 90     f
 800    g
dtype: object

In [ ]:
s.loc[-1]

'e'

In [ ]:
u =pd.Series(np.arange(10))

In [ ]:
v=pd.Series(np.arange(0,20,2))

In [ ]:
u

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [ ]:
v

0     0
1     2
2     4
3     6
4     8
5    10
6    12
7    14
8    16
9    18
dtype: int64

In [ ]:
 u+v

0     0
1     3
2     6
3     9
4    12
5    15
6    18
7    21
8    24
9    27
dtype: int64

In [ ]:
u-v

0    0
1   -1
2   -2
3   -3
4   -4
5   -5
6   -6
7   -7
8   -8
9   -9
dtype: int64

In [ ]:
w = pd.Series([1,2,3],index=['a','b','c'])
z=pd.Series([10,20,20],index=['a','b','d'])

In [ ]:
w

a    1
b    2
c    3
dtype: int64

In [ ]:
w+z

a    11.0
b    22.0
c     NaN
d     NaN
dtype: float64

In [ ]:
w-z

a    -9.0
b   -18.0
c     NaN
d     NaN
dtype: float64

In [ ]:
w*z

a    10.0
b    40.0
c     NaN
d     NaN
dtype: float64

In [ ]:
w/z

a    0.1
b    0.1
c    NaN
d    NaN
dtype: float64

In [ ]:
w.dtype

dtype('int64')

In [ ]:
w.size

NameError: ignored

In [ ]:
rng = np.random.default_rng()

NameError: ignored

In [ ]:
e = rng.random(size=(4,5))

NameError: ignored

In [ ]:
e

array([[0.74225679, 0.26909362, 0.46597708, 0.49750909, 0.58618706],
       [0.37620967, 0.2655969 , 0.61867086, 0.03446924, 0.81467536],
       [0.76097566, 0.45158101, 0.57916799, 0.5798132 , 0.31514357],
       [0.98866654, 0.79213315, 0.62495592, 0.28842891, 0.34167224]])

In [ ]:
e = np.round(e,3)

In [ ]:
e

array([[0.742, 0.269, 0.466, 0.498, 0.586],
       [0.376, 0.266, 0.619, 0.034, 0.815],
       [0.761, 0.452, 0.579, 0.58 , 0.315],
       [0.989, 0.792, 0.625, 0.288, 0.342]])

In [ ]:
p=pd.DataFrame(e.columns=list['a','b','c','d','e'])

SyntaxError: ignored

In [ ]:
q=pd.DataFrame(np.arange(18).reshape(6,3),index =['l','m','n','o','p','q'],columns=['a','b','c'])

NameError: ignored

In [ ]:
q

    a   b   c
l   0   1   2
m   3   4   5
n   6   7   8
o   9  10  11
p  12  13  14
q  15  16  17

In [ ]:
q1=pd.DataFrame(np.arange(18).reshape(6,3),index = [1.1,1.2,1.3,1.4,1.5,1.6],columns=['a','b','c'])

In [ ]:
q1

      a   b   c
1.1   0   1   2
1.2   3   4   5
1.3   6   7   8
1.4   9  10  11
1.5  12  13  14
1.6  15  16  17

In [ ]:
q1.shape

(6, 3)

In [ ]:
q1.dtypes

a    int64
b    int64
c    int64
dtype: object

In [ ]:
q1.head()

      a   b   c
1.1   0   1   2
1.2   3   4   5
1.3   6   7   8
1.4   9  10  11
1.5  12  13  14

In [ ]:
q1.tail()

      a   b   c
1.2   3   4   5
1.3   6   7   8
1.4   9  10  11
1.5  12  13  14
1.6  15  16  17

In [ ]:
q1.colomns

AttributeError: ignored

In [ ]:
q1.columns

Index(['a', 'b', 'c'], dtype='object')

In [ ]:
q1.index

Float64Index([1.1, 1.2, 1.3, 1.4, 1.5, 1.6], dtype='float64')

In [ ]:
q1.iloc[4:5]

      a   b   c
1.5  12  13  14

In [ ]:
q1.tail(2)

      a   b   c
1.5  12  13  14
1.6  15  16  17

In [ ]:
q1.iloc[-2:]

      a   b   c
1.5  12  13  14
1.6  15  16  17

In [ ]:
q1.loc['1.5':]

      a   b   c
1.5  12  13  14
1.6  15  16  17

In [ ]:
q1

      a   b   c
1.1   0   1   2
1.2   3   4   5
1.3   6   7   8
1.4   9  10  11
1.5  12  13  14
1.6  15  16  17

In [ ]:
q1.iloc[2:4]

     a   b   c
1.3  6   7   8
1.4  9  10  11

In [ ]:
q1.iloc[1:4,:2]

     a   b
1.2  3   4
1.3  6   7
1.4  9  10

In [ ]:
q1.loc[1.5:]

      a   b   c
1.5  12  13  14
1.6  15  16  17

In [ ]:
q1.loc[1.1:1.4,:'c']

     a   b   c
1.1  0   1   2
1.2  3   4   5
1.3  6   7   8
1.4  9  10  11

In [ ]:
q1

      a   b   c
1.1   0   1   2
1.2   3   4   5
1.3   6   7   8
1.4   9  10  11
1.5  12  13  14
1.6  15  16  17

In [ ]:
q1.iloc[3,1]

10

In [ ]:
q1.loc[1.4,'b']

10

In [ ]:
q1==10

         a      b      c
1.1  False  False  False
1.2  False  False  False
1.3  False  False  False
1.4  False   True  False
1.5  False  False  False
1.6  False  False  False

In [ ]:
q1[:2]

      a   b   c
1.1   0   1   2
1.2   3   4   5
1.3   6   7   8
1.4   9  10  11
1.5  12  13  14
1.6  15  16  17

In [ ]:
import pandas as pd
import numpy as np
import os

In [ ]:
s = pd.Series([2,4,8,10,55])

In [ ]:
s

0     2
1     4
2     8
3    10
4    55
dtype: int64

In [ ]:
type(s)

pandas.core.series.Series

In [ ]:
s.name="AA"

In [ ]:
s

0     2
1     4
2     8
3    10
4    55
Name: AA, dtype: int64

In [ ]:
t=pd.Series({'a':[1,2,3,4],'b':[5,6]})

In [ ]:
t

a    [1, 2, 3, 4]
b          [5, 6]
dtype: object

In [ ]:
type(t)

pandas.core.series.Series

In [ ]:
ss=[23,45,56]

In [ ]:
h=pd.Series(ss)

In [ ]:
h

0    23
1    45
2    56
dtype: int64

In [ ]:
s+h

0    25.0
1    49.0
2    64.0
3     NaN
4     NaN
dtype: float64

In [ ]:
s*h

0     46.0
1    180.0
2    448.0
3      NaN
4      NaN
dtype: float64

In [ ]:
s-h

0   -21.0
1   -41.0
2   -48.0
3     NaN
4     NaN
dtype: float64

In [ ]:
(s+h)[1]

49.0

In [ ]:
(s*h)[2]

448.0

In [ ]:
s.mean()

15.8

In [ ]:
s.std()

22.140460699813815

In [ ]:
s.median()

8.0

In [ ]:
np.mean(s)

15.8

In [ ]:
np.median(s)

8.0

In [ ]:
np.std(s)

19.803030071178505

In [ ]:
d=pd.Series([4,5],index=['a','b'])

In [ ]:
e=pd.Series([6,7],index=['f','g'])

In [ ]:
f=pd.Series([9,10],index=['a','b'])

In [ ]:
d

a    4
b    5
dtype: int64

In [ ]:
e

f    6
g    7
dtype: int64

In [ ]:
f

a     9
b    10
dtype: int64

In [ ]:
d+e

a   NaN
b   NaN
f   NaN
g   NaN
dtype: float64

In [ ]:
d+f

a    13
b    15
dtype: int64

In [ ]:
v=d.reset_index()

In [ ]:
v

  index  0
0     a  4
1     b  5

In [ ]:
type(v)

pandas.core.frame.DataFrame

In [ ]:
d.reset_index(drop=True,inplace=True)

In [ ]:
d

0    4
1    5
dtype: int64

In [ ]:
e.reset_index(drop=True,inplace=True)
d+e

0    10
1    12
dtype: int64

In [ ]:
e

0    6
1    7
dtype: int64

In [ ]:
elements=[2,3,4]

In [ ]:
elements > 0

TypeError: ignored

In [ ]:
j=pd.Series(np.random.narmal(size=7))

AttributeError: ignored

In [ ]:
k = pd.Series(
             np.random.normal(size=7),
             index=['a','b','c','d','e','f','a']
             )

NameError: ignored

In [ ]:
k

NameError: ignored

In [ ]:
k['a']

a    1.305059
a    0.234516
dtype: float64

In [ ]:
k.loc['a']

a    1.305059
a    0.234516
dtype: float64

In [ ]:
k[:2]

a    1.305059
b   -0.635128
dtype: float64

In [ ]:
k.iloc[:2]

a    1.305059
b   -0.635128
dtype: float64

In [ ]:
k.iloc[2:]

c   -1.241703
d   -0.349207
e   -0.510492
f    0.633834
a    0.234516
dtype: float64

In [ ]:
k.iloc[2:4]

NameError: ignored

In [ ]:
k.iloc[2:4].mean()

NameError: ignored

In [ ]:
path=

SyntaxError: ignored

In [ ]:
path= "/content/sample_data/delhi_weather_data (4).zip"

In [ ]:
path="/gdrive/MyDrive/delhi_weather_data.zip"

In [ ]:
from google.colab import drive
drive.mount('/gdrive')

Mounted at /gdrive

In [ ]:
with open('/gdrive/My Drive/foo.txt', 'w') as f:
  f.write('Hello Google Drive!')
!cat '/gdrive/My Drive/foo.txt'

Hello Google Drive!

In [ ]:
folderpath="/gdrive/MyDrive"

In [ ]:
import pandas as pd
import numpy as np
import os

In [ ]:
os.chdir(folderpath)

In [ ]:
xyx=pd.read_csv("delhi_weather_data.zip")

In [ ]:
os.listdir("/content/sample_data")

['anscombe.json',
 'README.md',
 'delhi_weather_data (4).zip',
 'mnist_test.csv',
 'california_housing_test.csv',
 'california_housing_train.csv',
 'mnist_train_small.csv']

In [ ]:
os.listdir("/gdrive/MyDrive")

['img366.jpg',
 'INTER.jpg',
 'tanuja new resume.doc',
 'PGDCA.jpg',
 'signature.jpg',
 'CASTE.jpg',
 'Scanned_20190423-1123.pdf',
 'Scanned_20190423-1122.pdf',
 'Scanned_20190510-1850.pdf',
 'adhar.jpg',
 'Scanned_20200117-1124.pdf',
 'Scanned_20200117-1126.pdf',
 '20200131_200210.mp4',
 'Mobile backup',
 'New folder',
 'Untitled folder',
 'pc.jpg',
 'pc1.jpg',
 'pass pic.jpg',
 'SAP PS',
 'SSC.jpg',
 'Colab Notebooks',
 '3.lesson_pandas.py',
 'delhi_weather_data.zip',
 'colab files',
 'foo.txt']

In [ ]:
weather=pd.read_csv(path)

In [ ]:
weather.head()

,datetime_utc,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_precipm,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
0,19961101-11:00,Smoke,9.0,0,0,NaN,27.0,NaN,1010.0,0,0,30.0,0,0,5.0,280.0,West,NaN,NaN,7.4
1,19961101-12:00,Smoke,10.0,0,0,NaN,32.0,NaN,-9999.0,0,0,28.0,0,0,NaN,0.0,North,NaN,NaN,NaN
2,19961101-13:00,Smoke,11.0,0,0,NaN,44.0,NaN,-9999.0,0,0,24.0,0,0,NaN,0.0,North,NaN,NaN,NaN
3,19961101-14:00,Smoke,10.0,0,0,NaN,41.0,NaN,1010.0,0,0,24.0,0,0,2.0,0.0,North,NaN,NaN,NaN
4,19961101-16:00,Smoke,11.0,0,0,NaN,47.0,NaN,1011.0,0,0,23.0,0,0,1.2,0.0,North,NaN,NaN,0.0

In [ ]:
weather.tail()

,datetime_utc,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_precipm,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
100985,20170424-06:00,Haze,17.0,0,0,NaN,25.0,NaN,1005.0,0,0,34.0,0,0,4.0,320.0,NW,NaN,NaN,11.1
100986,20170424-09:00,Haze,14.0,0,0,NaN,16.0,NaN,1003.0,0,0,38.0,0,0,4.0,320.0,NW,NaN,NaN,22.2
100987,20170424-12:00,Haze,12.0,0,0,NaN,14.0,NaN,1002.0,0,0,36.0,0,0,4.0,270.0,West,NaN,NaN,18.5
100988,20170424-15:00,Haze,15.0,0,0,NaN,27.0,NaN,1004.0,0,0,32.0,0,0,2.0,320.0,NW,NaN,NaN,3.7
100989,20170424-18:00,Haze,15.0,0,0,NaN,30.0,NaN,1005.0,0,0,30.0,0,0,2.0,320.0,NW,NaN,NaN,3.7

In [ ]:
weather.columns

Index(['datetime_utc', ' _conds', ' _dewptm', ' _fog', ' _hail',
       ' _heatindexm', ' _hum', ' _precipm', ' _pressurem', ' _rain', ' _snow',
       ' _tempm', ' _thunder', ' _tornado', ' _vism', ' _wdird', ' _wdire',
       ' _wgustm', ' _windchillm', ' _wspdm'],
      dtype='object')

In [ ]:
weather.columns=['datetime_utc', '_conds', '_dewptm', '_fog', '_hail',
       '_heatindexm', '_hum', '_precipm', '_pressurem', '_rain', '_snow',
       '_tempm', '_thunder', '_tornado', '_vism', '_wdird', '_wdire',
       '_wgustm', '_windchillm', '_wspdm']

In [ ]:
!pwd

/gdrive/MyDrive

In [ ]:
weather.to_csv("abc.csv",index=False)

In [ ]:
len(weather.columns)

20

In [ ]:
weather.shape

(100990, 20)

In [ ]:
weather.isnull()

,datetime_utc,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_precipm,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
0,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
1,False,False,False,False,False,True,False,True,False,False,False,False,False,False,True,False,False,True,True,True
2,False,False,False,False,False,True,False,True,False,False,False,False,False,False,True,False,False,True,True,True
3,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,True
4,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100985,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
100986,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
100987,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
100988,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
100989,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False

In [ ]:
weather.isna().sum()

datetime_utc         0
 _conds             72
 _dewptm           621
 _fog                0
 _hail               0
 _heatindexm     71835
 _hum              757
 _precipm       100990
 _pressurem        232
 _rain               0
 _snow               0
 _tempm            673
 _thunder            0
 _tornado            0
 _vism            4428
 _wdird          14755
 _wdire          14755
 _wgustm         99918
 _windchillm    100411
 _wspdm           2358
dtype: int64

In [ ]:
weather.isnull().sum(axis=1)

0         4
1         6
2         6
3         5
4         4
         ..
100985    4
100986    4
100987    4
100988    4
100989    4
Length: 100990, dtype: int64

In [ ]:
weather.isna()

,datetime_utc,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_precipm,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
0,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
1,False,False,False,False,False,True,False,True,False,False,False,False,False,False,True,False,False,True,True,True
2,False,False,False,False,False,True,False,True,False,False,False,False,False,False,True,False,False,True,True,True
3,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,True
4,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100985,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
100986,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
100987,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
100988,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
100989,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False

In [ ]:
weather.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

 _dewptm          15.741205
 _fog              0.069690
 _hail             0.000129
 _heatindexm      35.651710
 _hum             57.909481
 _precipm               NaN
 _pressurem     1932.330949
 _rain             0.026260
 _snow             0.000010
 _tempm           25.451269
 _thunder          0.009427
 _tornado          0.000020
 _vism             2.402774
 _wdird          163.549974
 _wgustm          37.671175
 _windchillm       5.713817
 _wspdm            7.678463
dtype: float64

In [ ]:
weather.mean(axis=0)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

 _dewptm          15.741205
 _fog              0.069690
 _hail             0.000129
 _heatindexm      35.651710
 _hum             57.909481
 _precipm               NaN
 _pressurem     1932.330949
 _rain             0.026260
 _snow             0.000010
 _tempm           25.451269
 _thunder          0.009427
 _tornado          0.000020
 _vism             2.402774
 _wdird          163.549974
 _wgustm          37.671175
 _windchillm       5.713817
 _wspdm            7.678463
dtype: float64

In [ ]:
weather.mean(skipna=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

 _dewptm          15.741205
 _fog              0.069690
 _hail             0.000129
 _heatindexm      35.651710
 _hum             57.909481
 _precipm               NaN
 _pressurem     1932.330949
 _rain             0.026260
 _snow             0.000010
 _tempm           25.451269
 _thunder          0.009427
 _tornado          0.000020
 _vism             2.402774
 _wdird          163.549974
 _wgustm          37.671175
 _windchillm       5.713817
 _wspdm            7.678463
dtype: float64

In [ ]:
weather.mean(skipna=False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

 _dewptm             NaN
 _fog           0.069690
 _hail          0.000129
 _heatindexm         NaN
 _hum                NaN
 _precipm            NaN
 _pressurem          NaN
 _rain          0.026260
 _snow          0.000010
 _tempm              NaN
 _thunder       0.009427
 _tornado       0.000020
 _vism               NaN
 _wdird              NaN
 _wgustm             NaN
 _windchillm         NaN
 _wspdm              NaN
dtype: float64

In [ ]:
weather[[" _dewptm"," _hail"]].head()

    _dewptm   _hail
0       9.0       0
1      10.0       0
2      11.0       0
3      10.0       0
4      11.0       0

In [ ]:
sx=pd.read_csv("abc.csv")

In [ ]:
sx.head()

,Unnamed: 0,datetime_utc,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_precipm,_pressurem,...,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
0,0,19961101-11:00,Smoke,9.0,0,0,NaN,27.0,NaN,1010.0,...,0,30.0,0,0,5.0,280.0,West,NaN,NaN,7.4
1,1,19961101-12:00,Smoke,10.0,0,0,NaN,32.0,NaN,-9999.0,...,0,28.0,0,0,NaN,0.0,North,NaN,NaN,NaN
2,2,19961101-13:00,Smoke,11.0,0,0,NaN,44.0,NaN,-9999.0,...,0,24.0,0,0,NaN,0.0,North,NaN,NaN,NaN
3,3,19961101-14:00,Smoke,10.0,0,0,NaN,41.0,NaN,1010.0,...,0,24.0,0,0,2.0,0.0,North,NaN,NaN,NaN
4,4,19961101-16:00,Smoke,11.0,0,0,NaN,47.0,NaN,1011.0,...,0,23.0,0,0,1.2,0.0,North,NaN,NaN,0.0

In [ ]:
weather['pressurem'].head()

KeyError: ignored

In [ ]:
weather[['_pressurem']].fillna()

ValueError: ignored

In [ ]:
type(weather['_pressurem'])

pandas.core.series.Series

In [ ]:
weather[['_pressurem']].fillna(value=np.mean(weather._pressurem))

        _pressurem
0           1010.0
1          -9999.0
2          -9999.0
3           1010.0
4           1011.0
...            ...
100985      1005.0
100986      1003.0
100987      1002.0
100988      1004.0
100989      1005.0

[100990 rows x 1 columns]

In [ ]:
weather._pressurem

0         1010.0
1        -9999.0
2        -9999.0
3         1010.0
4         1011.0
           ...
100985    1005.0
100986    1003.0
100987    1002.0
100988    1004.0
100989    1005.0
Name: _pressurem, Length: 100990, dtype: float64

In [ ]:
weather[['_pressurem']].fillna(value=np.median(weather._pressurem))

        _pressurem
0           1010.0
1          -9999.0
2          -9999.0
3           1010.0
4           1011.0
...            ...
100985      1005.0
100986      1003.0
100987      1002.0
100988      1004.0
100989      1005.0

[100990 rows x 1 columns]

In [ ]:
weather[['_pressurem']].fillna(value=np.mean(weather._pressurem))

KeyError: ignored

PANDAS

In [ ]:
import pandas as pd
import numpy as np
import os

In [ ]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
pd.Series([3,8,1,90,23])

0     3
1     8
2     1
3    90
4    23
dtype: int64

In [ ]:
pd.Series([2.3,4.5,6.7,3.1])

0    2.3
1    4.5
2    6.7
3    3.1
dtype: float64

In [ ]:
r=pd.Series(['a','b','c','d','e'])

In [ ]:
r[0]

'a'

In [ ]:
r[1]

'b'

In [ ]:
r[3:]

3    d
4    e
dtype: object

In [ ]:
r[2:]

2    c
3    d
4    e
dtype: object

In [ ]:
r[[1,3]]

1    b
3    d
dtype: object

In [ ]:
r[[1,3,4]]

1    b
3    d
4    e
dtype: object

In [ ]:
r=pd.Series(['a','b','c','d','e','f','g'])

In [ ]:
len(r)

7

In [ ]:
r[[1,3,4,5]]

1    b
3    d
4    e
5    f
dtype: object

In [ ]:
r[[1,3,5]]

1    b
3    d
5    f
dtype: object

In [ ]:
s=pd.Series(['a','b','c','d','e','f','g'], index= [12,89,3,45,-1,90,800])

In [ ]:
s

 12     a
 89     b
 3      c
 45     d
-1      e
 90     f
 800    g
dtype: object

In [ ]:
s[-1]

'e'

In [ ]:
s.iloc[-1]

'g'

In [ ]:
s.loc[-1]

'e'

In [ ]:
r.iloc[2:-1]

2    c
3    d
4    e
5    f
dtype: object

In [ ]:
s.loc[[89,45,90]]

89    b
45    d
90    f
dtype: object

In [ ]:
s.iloc[[1,3,5]]

89    b
45    d
90    f
dtype: object

In [ ]:
u=pd.Series(np.arange(10))

In [ ]:
u

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [ ]:
v=pd.Series(np.arange(0,20,2))

In [ ]:
v

0     0
1     2
2     4
3     6
4     8
5    10
6    12
7    14
8    16
9    18
dtype: int64

In [ ]:
u

0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9
dtype: int64

In [ ]:
u+v

0     0
1     3
2     6
3     9
4    12
5    15
6    18
7    21
8    24
9    27
dtype: int64

In [ ]:
u-v

0    0
1   -1
2   -2
3   -3
4   -4
5   -5
6   -6
7   -7
8   -8
9   -9
dtype: int64

In [ ]:
u*v

0      0
1      2
2      8
3     18
4     32
5     50
6     72
7     98
8    128
9    162
dtype: int64

In [ ]:
u/v

0    NaN
1    0.5
2    0.5
3    0.5
4    0.5
5    0.5
6    0.5
7    0.5
8    0.5
9    0.5
dtype: float64

In [ ]:
w = pd.Series([1,2,3], index=['a','b','c'])
z = pd.Series([10,20,20],index=['a','b','d'])

In [ ]:
w+z

a    11.0
b    22.0
c     NaN
d     NaN
dtype: float64

In [ ]:
w-z

a    -9.0
b   -18.0
c     NaN
d     NaN
dtype: float64

In [ ]:
w.dtype

dtype('int64')

In [ ]:
w.size

3

In [ ]:
rng = np.random.default_rng()

In [ ]:
e=rng.random(size=(4,5))

In [ ]:
e

3

In [ ]:
e = np.round(e,2)

In [ ]:
e

array([[0.31577351, 0.42623529, 0.10564096, 0.13108926, 0.95623156],
       [0.07221503, 0.59354111, 0.11910671, 0.8029295 , 0.08139848],
       [0.55827525, 0.56305946, 0.22087131, 0.10528797, 0.52048284],
       [0.03587481, 0.01508844, 0.07740348, 0.00738349, 0.62190146]])

In [ ]:
e

3

In [ ]:
pd.DataFrame(e,columns = list('abcde'))

          a         b         c         d         e
0  0.315774  0.426235  0.105641  0.131089  0.956232
1  0.072215  0.593541  0.119107  0.802930  0.081398
2  0.558275  0.563059  0.220871  0.105288  0.520483
3  0.035875  0.015088  0.077403  0.007383  0.621901

In [ ]:
q=pd.DataFrame(np.arange(18).reshape(6,3),columns=['a','b','c'])

In [ ]:
q

    a   b   c
0   0   1   2
1   3   4   5
2   6   7   8
3   9  10  11
4  12  13  14
5  15  16  17

In [ ]:
q1=pd.DataFrame(np.arange(18).reshape(6,3),index =['l','m','n','o','p','q'],columns=['a','b','c'])

In [ ]:
q1

    a   b   c
l   0   1   2
m   3   4   5
n   6   7   8
o   9  10  11
p  12  13  14
q  15  16  17

In [ ]:
q2=pd.DataFrame(np.arange(18).reshape(6,3),index=[1.1,1.2,1.3,1.4,1.5,1.6],columns=['a','b','c'])

In [ ]:
q2

      a   b   c
1.1   0   1   2
1.2   3   4   5
1.3   6   7   8
1.4   9  10  11
1.5  12  13  14
1.6  15  16  17

In [ ]:
q2.shape

(6, 3)

In [ ]:
q1.dtypes

a    int64
b    int64
c    int64
dtype: object

In [ ]:
q2.head()

      a   b   c
1.1   0   1   2
1.2   3   4   5
1.3   6   7   8
1.4   9  10  11
1.5  12  13  14

In [ ]:
q2.tail()

      a   b   c
1.2   3   4   5
1.3   6   7   8
1.4   9  10  11
1.5  12  13  14
1.6  15  16  17

In [ ]:
q2.head(q2.tail())

TypeError: ignored

In [ ]:
q2.head(3)

     a  b  c
1.1  0  1  2
1.2  3  4  5
1.3  6  7  8

In [ ]:
q2.columns

Index(['a', 'b', 'c'], dtype='object')

In [ ]:
q2.index

Float64Index([1.1, 1.2, 1.3, 1.4, 1.5, 1.6], dtype='float64')

In [ ]:
q2.tail(2)

      a   b   c
1.5  12  13  14
1.6  15  16  17

In [ ]:
q2.loc[1.5:]

      a   b   c
1.5  12  13  14
1.6  15  16  17

In [ ]:
q2.iloc[-2:]

      a   b   c
1.5  12  13  14
1.6  15  16  17

In [ ]:
q2.iloc[1:4,:2]

     a   b
1.2  3   4
1.3  6   7
1.4  9  10

In [ ]:
q2

      a   b   c
1.1   0   1   2
1.2   3   4   5
1.3   6   7   8
1.4   9  10  11
1.5  12  13  14
1.6  15  16  17

In [ ]:
q2.loc[1.1:1.4,:'c']

     a   b   c
1.1  0   1   2
1.2  3   4   5
1.3  6   7   8
1.4  9  10  11

In [ ]:
q2.iloc[3,1]

10

In [ ]:
q2.loc[1.4,'b']

10

In [ ]:
q2 == 10

         a      b      c
1.1  False  False  False
1.2  False  False  False
1.3  False  False  False
1.4  False   True  False
1.5  False  False  False
1.6  False  False  False

In [ ]:
q2[:2]

      a   b   c
1.1   0   1   2
1.2   3   4   5
1.3   6   7   8
1.4   9  10  11
1.5  12  13  14
1.6  15  16  17

In [ ]:
from google.colab import drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

In [ ]:
path="/gdrive/MyDrive/colab files/7.08.022/delhi_weather_data.zip"

In [ ]:
path="//content/sample_data/delhi_weather_data.zip"

In [ ]:
import pandas as pd
import numpy as np
import os

In [ ]:
weather=pd.read_csv(path)

In [ ]:
weather

,datetime_utc,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_precipm,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
0,19961101-11:00,Smoke,9.0,0,0,NaN,27.0,NaN,1010.0,0,0,30.0,0,0,5.0,280.0,West,NaN,NaN,7.4
1,19961101-12:00,Smoke,10.0,0,0,NaN,32.0,NaN,-9999.0,0,0,28.0,0,0,NaN,0.0,North,NaN,NaN,NaN
2,19961101-13:00,Smoke,11.0,0,0,NaN,44.0,NaN,-9999.0,0,0,24.0,0,0,NaN,0.0,North,NaN,NaN,NaN
3,19961101-14:00,Smoke,10.0,0,0,NaN,41.0,NaN,1010.0,0,0,24.0,0,0,2.0,0.0,North,NaN,NaN,NaN
4,19961101-16:00,Smoke,11.0,0,0,NaN,47.0,NaN,1011.0,0,0,23.0,0,0,1.2,0.0,North,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100985,20170424-06:00,Haze,17.0,0,0,NaN,25.0,NaN,1005.0,0,0,34.0,0,0,4.0,320.0,NW,NaN,NaN,11.1
100986,20170424-09:00,Haze,14.0,0,0,NaN,16.0,NaN,1003.0,0,0,38.0,0,0,4.0,320.0,NW,NaN,NaN,22.2
100987,20170424-12:00,Haze,12.0,0,0,NaN,14.0,NaN,1002.0,0,0,36.0,0,0,4.0,270.0,West,NaN,NaN,18.5
100988,20170424-15:00,Haze,15.0,0,0,NaN,27.0,NaN,1004.0,0,0,32.0,0,0,2.0,320.0,NW,NaN,NaN,3.7
100989,20170424-18:00,Haze,15.0,0,0,NaN,30.0,NaN,1005.0,0,0,30.0,0,0,2.0,320.0,NW,NaN,NaN,3.7

In [ ]:
weather.head()

,datetime_utc,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_precipm,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
0,19961101-11:00,Smoke,9.0,0,0,NaN,27.0,NaN,1010.0,0,0,30.0,0,0,5.0,280.0,West,NaN,NaN,7.4
1,19961101-12:00,Smoke,10.0,0,0,NaN,32.0,NaN,-9999.0,0,0,28.0,0,0,NaN,0.0,North,NaN,NaN,NaN
2,19961101-13:00,Smoke,11.0,0,0,NaN,44.0,NaN,-9999.0,0,0,24.0,0,0,NaN,0.0,North,NaN,NaN,NaN
3,19961101-14:00,Smoke,10.0,0,0,NaN,41.0,NaN,1010.0,0,0,24.0,0,0,2.0,0.0,North,NaN,NaN,NaN
4,19961101-16:00,Smoke,11.0,0,0,NaN,47.0,NaN,1011.0,0,0,23.0,0,0,1.2,0.0,North,NaN,NaN,0.0

In [ ]:
os.listdir("/content/sample_data")

['anscombe.json',
 'README.md',
 'california_housing_train.csv',
 'california_housing_test.csv',
 'mnist_test.csv',
 'mnist_train_small.csv']

In [ ]:
os.listdir("/gdrive/MyDrive/colab files/7.08.022")

['delhi_weather_data.zip', 'abc.csv']

In [ ]:
os.chdir(folderpath)

In [ ]:
folderpath="/gdrive/MyDrive/colab files/7.08.022"

In [ ]:
weather.columns

Index(['datetime_utc', ' _conds', ' _dewptm', ' _fog', ' _hail',
       ' _heatindexm', ' _hum', ' _precipm', ' _pressurem', ' _rain', ' _snow',
       ' _tempm', ' _thunder', ' _tornado', ' _vism', ' _wdird', ' _wdire',
       ' _wgustm', ' _windchillm', ' _wspdm'],
      dtype='object')

In [ ]:
weather.columns=['datetime_utc', '_conds', '_dewptm', '_fog', '_hail',
       ' _heatindexm', ' _hum', ' _precipm', ' _pressurem', ' _rain', ' _snow',
       '_tempm', '_thunder', '_tornado', '_vism', '_wdird', '_wdire',
       '_wgustm', ' _windchillm', '_wspdm']

In [ ]:
!pwd

/gdrive/MyDrive/colab files/7.08.022

In [ ]:
weather.to_csv("abc.csv",index=False)

In [ ]:
len(weather.columns)

20

In [ ]:
weather.shape

(100990, 20)

In [ ]:
weather.isna()

,datetime_utc,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_precipm,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
0,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
1,False,False,False,False,False,True,False,True,False,False,False,False,False,False,True,False,False,True,True,True
2,False,False,False,False,False,True,False,True,False,False,False,False,False,False,True,False,False,True,True,True
3,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,True
4,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
100985,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
100986,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
100987,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
100988,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False
100989,False,False,False,False,False,True,False,True,False,False,False,False,False,False,False,False,False,True,True,False

In [ ]:
weather.isna().sum(axis=0)

datetime_utc         0
_conds              72
_dewptm            621
_fog                 0
_hail                0
 _heatindexm     71835
 _hum              757
 _precipm       100990
 _pressurem        232
 _rain               0
 _snow               0
_tempm             673
_thunder             0
_tornado             0
_vism             4428
_wdird           14755
_wdire           14755
_wgustm          99918
 _windchillm    100411
_wspdm            2358
dtype: int64

In [ ]:
weather.isna

<bound method DataFrame.isna of           datetime_utc _conds  _dewptm  _fog  _hail   _heatindexm   _hum  \
0       19961101-11:00  Smoke      9.0     0      0           NaN   27.0
1       19961101-12:00  Smoke     10.0     0      0           NaN   32.0
2       19961101-13:00  Smoke     11.0     0      0           NaN   44.0
3       19961101-14:00  Smoke     10.0     0      0           NaN   41.0
4       19961101-16:00  Smoke     11.0     0      0           NaN   47.0
...                ...    ...      ...   ...    ...           ...    ...
100985  20170424-06:00   Haze     17.0     0      0           NaN   25.0
100986  20170424-09:00   Haze     14.0     0      0           NaN   16.0
100987  20170424-12:00   Haze     12.0     0      0           NaN   14.0
100988  20170424-15:00   Haze     15.0     0      0           NaN   27.0
100989  20170424-18:00   Haze     15.0     0      0           NaN   30.0

         _precipm   _pressurem   _rain   _snow  _tempm  _thunder  _tornado  \
0             NaN       1010.0       0       0    30.0         0         0
1             NaN      -9999.0       0       0    28.0         0         0
2             NaN      -9999.0       0       0    24.0         0         0
3             NaN       1010.0       0       0    24.0         0         0
4             NaN       1011.0       0       0    23.0         0         0
...           ...          ...     ...     ...     ...       ...       ...
100985        NaN       1005.0       0       0    34.0         0         0
100986        NaN       1003.0       0       0    38.0         0         0
100987        NaN       1002.0       0       0    36.0         0         0
100988        NaN       1004.0       0       0    32.0         0         0
100989        NaN       1005.0       0       0    30.0         0         0

        _vism  _wdird _wdire  _wgustm   _windchillm  _wspdm
0         5.0   280.0   West      NaN           NaN     7.4
1         NaN     0.0  North      NaN           NaN     NaN
2         NaN     0.0  North      NaN           NaN     NaN
3         2.0     0.0  North      NaN           NaN     NaN
4         1.2     0.0  North      NaN           NaN     0.0
...       ...     ...    ...      ...           ...     ...
100985    4.0   320.0     NW      NaN           NaN    11.1
100986    4.0   320.0     NW      NaN           NaN    22.2
100987    4.0   270.0   West      NaN           NaN    18.5
100988    2.0   320.0     NW      NaN           NaN     3.7
100989    2.0   320.0     NW      NaN           NaN     3.7

[100990 rows x 20 columns]>

In [ ]:
weather.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

_dewptm           15.741205
_fog               0.069690
_hail              0.000129
 _heatindexm      35.651710
 _hum             57.909481
 _precipm               NaN
 _pressurem     1932.330949
 _rain             0.026260
 _snow             0.000010
_tempm            25.451269
_thunder           0.009427
_tornado           0.000020
_vism              2.402774
_wdird           163.549974
_wgustm           37.671175
 _windchillm       5.713817
_wspdm             7.678463
dtype: float64

In [ ]:
weather.mean(skipna=True)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

_dewptm           15.741205
_fog               0.069690
_hail              0.000129
 _heatindexm      35.651710
 _hum             57.909481
 _precipm               NaN
 _pressurem     1932.330949
 _rain             0.026260
 _snow             0.000010
_tempm            25.451269
_thunder           0.009427
_tornado           0.000020
_vism              2.402774
_wdird           163.549974
_wgustm           37.671175
 _windchillm       5.713817
_wspdm             7.678463
dtype: float64

In [ ]:
weather.mean(skipna=False)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

_dewptm              NaN
_fog            0.069690
_hail           0.000129
 _heatindexm         NaN
 _hum                NaN
 _precipm            NaN
 _pressurem          NaN
 _rain          0.026260
 _snow          0.000010
_tempm               NaN
_thunder        0.009427
_tornado        0.000020
_vism                NaN
_wdird               NaN
_wgustm              NaN
 _windchillm         NaN
_wspdm               NaN
dtype: float64

In [ ]:
weather[["_dewptm","_hail"]].head()

   _dewptm  _hail
0      9.0      0
1     10.0      0
2     11.0      0
3     10.0      0
4     11.0      0

In [ ]:
sx=pd.read_csv("abc.csv")

In [ ]:
sx.head()

,datetime_utc,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_precipm,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
0,19961101-11:00,Smoke,9.0,0,0,NaN,27.0,NaN,1010.0,0,0,30.0,0,0,5.0,280.0,West,NaN,NaN,7.4
1,19961101-12:00,Smoke,10.0,0,0,NaN,32.0,NaN,-9999.0,0,0,28.0,0,0,NaN,0.0,North,NaN,NaN,NaN
2,19961101-13:00,Smoke,11.0,0,0,NaN,44.0,NaN,-9999.0,0,0,24.0,0,0,NaN,0.0,North,NaN,NaN,NaN
3,19961101-14:00,Smoke,10.0,0,0,NaN,41.0,NaN,1010.0,0,0,24.0,0,0,2.0,0.0,North,NaN,NaN,NaN
4,19961101-16:00,Smoke,11.0,0,0,NaN,47.0,NaN,1011.0,0,0,23.0,0,0,1.2,0.0,North,NaN,NaN,0.0

In [ ]:
weather.head()

,datetime_utc,_conds,_dewptm,_fog,_hail,_heatindexm,_hum,_precipm,_pressurem,_rain,_snow,_tempm,_thunder,_tornado,_vism,_wdird,_wdire,_wgustm,_windchillm,_wspdm
0,19961101-11:00,Smoke,9.0,0,0,NaN,27.0,NaN,1010.0,0,0,30.0,0,0,5.0,280.0,West,NaN,NaN,7.4
1,19961101-12:00,Smoke,10.0,0,0,NaN,32.0,NaN,-9999.0,0,0,28.0,0,0,NaN,0.0,North,NaN,NaN,NaN
2,19961101-13:00,Smoke,11.0,0,0,NaN,44.0,NaN,-9999.0,0,0,24.0,0,0,NaN,0.0,North,NaN,NaN,NaN
3,19961101-14:00,Smoke,10.0,0,0,NaN,41.0,NaN,1010.0,0,0,24.0,0,0,2.0,0.0,North,NaN,NaN,NaN
4,19961101-16:00,Smoke,11.0,0,0,NaN,47.0,NaN,1011.0,0,0,23.0,0,0,1.2,0.0,North,NaN,NaN,0.0

In [ ]:
weather[[' _pressurem']].head()

    _pressurem
0       1010.0
1      -9999.0
2      -9999.0
3       1010.0
4       1011.0

In [ ]:
weather[' _pressurem'].head()

0    1010.0
1   -9999.0
2   -9999.0
3    1010.0
4    1011.0
Name:  _pressurem, dtype: float64

In [ ]:
type(weather[[' _pressurem']])

pandas.core.frame.DataFrame

In [ ]:
type(weather[' _pressurem'])

pandas.core.series.Series

In [ ]:
weather[[' _pressurem']].fillna(value=weather[' _pressurem'].mean())

         _pressurem
0            1010.0
1           -9999.0
2           -9999.0
3            1010.0
4            1011.0
...             ...
100985       1005.0
100986       1003.0
100987       1002.0
100988       1004.0
100989       1005.0

[100990 rows x 1 columns]

In [ ]:
weather. _pressurem

AttributeError: ignored

In [ ]:
weather[[' _pressurem']].fillna(value = np.mean(weather. __pressurem))

AttributeError: ignored

In [ ]:
weather[[' _pressurem']].fillna(value=weather[' _pressurem'].mean())